@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('./assets/fonts/lato-v22-latin-regular.woff2') format('woff2'),
  url('./assets/fonts/lato-v22-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('./assets/fonts/lato-v22-latin-700.woff2') format('woff2'),
  url('./assets/fonts/lato-v22-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
  url('./assets/fonts/lato-v22-latin-900.woff2') format('woff2'),
  url('./assets/fonts/lato-v22-latin-900.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local(''),
  url('./assets/fonts/lato-v22-latin-700italic.woff2') format('woff2'),
  url('./assets/fonts/lato-v22-latin-700italic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local(''),
  url('./assets/fonts/lato-v22-latin-900italic.woff2') format('woff2'),
  url('./assets/fonts/lato-v22-latin-900italic.woff') format('woff');
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #353E5E;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  /*background: linear-gradient(180deg, rgba(244, 249, 253, 0.35) 0%, rgba(245, 245, 247, 0.35) 100%);*/
  background-image: url(assets/img/body-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  margin-right: auto;
  margin-left: auto;
}

#root {
  height: 100%;
  width: 100%;
  padding-top: 120px;
}

.navbar {
  position: fixed;
  min-height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(21, 114, 161, 0.6);
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  color: #fff;
  font-size: 32px;
  letter-spacing: 1px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  padding: 5px 10px;
  border: none;
  margin-right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 2px;
  min-width: 250px;
  font-size: 20px;
}

.search-input:focus {
  outline: 1px dashed #353E5E;
  outline-offset: 3px;
}

.btn {
  background-color: #353E5E;
  color: #fff;
  border: 1px solid #353E5E;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.main {
  max-width: 1250px;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.weather-control {
  width: 60%;
  height: auto;
  background-color: rgba(224, 235, 242, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}

.weather-info {
  width: 35%;
  background-color: rgba(224, 235, 242, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}

.title {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 46px;
  line-height: 56px;
}

.time {
  font-weight: 400;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 38px;
  line-height: 45px;
}

.city {
  font-weight: 900;
  color: #000;
  font-size: 60px;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 20px;
}

.weather-status {
  font-size: 64px;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 10px;
  background-color: rgba(224, 235, 242, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.weather-other {
  margin-bottom: 20px;
  font-size: 32px;
}

.weather-status-img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.wind-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wind-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 8px;
}

.wind-text {
}

.wind-value {
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .main {
    flex-direction: column;
    justify-content: flex-start;
  }

  .weather-control {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .weather-info {
    width: 100%;
  }

  .title {
    font-size: 32px;
  }

  .time {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .city {
    font-size: 42px;
  }

  .weather-status-img {
    width: 100px;
    height: 100px;
  }

  .weather-status {
    font-size: 48px;
  }

  .weather-other {
    font-size: 24px;
  }
}

/*LOADER*/
.lds-dual-ring {
  display: block;
  width: 160px;
  height: 160px;
  margin-right: auto;
  margin-left: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #666 transparent #666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-wrapper {
  min-height: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(224, 235, 242, 0.7);
  font-size: 48px;
  text-align: center;
}

.error-icon {
  width: 50px;
  display: inline-block;
  transform: rotate(90deg);
  background-color: rgba(224, 235, 242, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}
